 {% load static %}
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'img/logo.png' %}" style="width: 280px; padding-right: 10px;" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>INTERNATIONAL TOURS, BOOKINGS OF HOTELS AND TRANSPORTATION, ARRANGING SIGHTSEEING TOURS, BOOKING INTERNATIONAL AND DOMESTIC FLIGHTS ETC…</p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="https://www.facebook.com/garudtravels.in/"><i class="fab fa-facebook-square" target="_blank"></i></a>
                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-pinterest-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Importent Links</h4>
                            <ul>
                                <li><a href="{% url 'umesh:home' %}">Home</a></li>
                                <li><a href="{% url 'umesh:domestic' %}">Domestic Packages</a></li>
                                <li><a href="{% url 'umesh:international' %}">International Packages</a></li>
                                <li><a href="{% url 'umesh:bus' %}">Bus Rental</a></li>
                                <li><a href="{% url 'umesh:car' %}">Car Rental</a></li>
                                <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h3>GARUD TRAVELS</h3>
                            <div class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-home"></i></span>
                                <div class="media-body">
                                    <p>Shop No.3, Sai Siddhi Varsha Tower, Sheetal Nagar, Station Road, Mira Road (E), Thane - 401107</p>
                                </div>
                            </div>
                            <div class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                                <div class="media-body">
                                    <p>+91 996 729 6529</p>
                                    <p>+91 996 792 2371</p>
                                </div>
                            </div>
                            <div class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-email"></i></span>
                                <div class="media-body">
                                    <p>garudtravels2012@gmail.com</p>
                                    <p>info@garudtravels.in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with Tridev Developers
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>